{{!< default}}

  <!--End mc_embed_signup-->
</div>

<section class='content'>
  <main class="content" role="main" style="padding-top:50px;">
      {{#foreach posts}}

      <article class="home {{post_class}}">
          <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
          <section class="post-excerpt">
              <p>{{excerpt}}&hellip;</p>
          </section>
      </article>

      {{/foreach}}

      {{pagination}}

  </main>
